$color-primary: #304c89;
$color-secondary: #9eb7e5;
$color-accent: #cdc392;
$color-txt: #e8e5da;
$color-special: #648de5;

$color-bg: linear-gradient(to right bottom, $color-primary, $color-secondary);

$bp-large: 78.15em;
$bp-medium: 61.25em; 
$bp-small: 37.5em; 
$bp-smallest: 31.25em; 


  